<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout}">
<head>
    <title>회원가입</title>
</head>
<div layout:fragment="content">
    <form th:action method="post">
        <label for="emailId">이메일</label>
        <input type="text" id="emailId" name="emailId" placeholder="이메일 주소를 입력하세요">
        <label for="userName">이름</label>
        <input type="text" id="userName" name="userName" placeholder="이름을 입력하세요">
        <label for="password">비밀번호</label>
        <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요">
        <label for="passwordAuth">비밀번호 확인</label>
        <input type="password" id="passwordAuth" placeholder="비밀번호 확인 해주세요.">
        <button type="submit" id="join-btn">회원가입</button>
        <button type="button" onclick="history.go(-1)">취소</button>
    </form>
</div>
</html>