.content-wrapper{

}
.card-body {
    text-align: center;
}
.card {
    margin: 30px;
    border: 1px solid grey;
    height : 250px;
    border-radius: 5px;
}
.card-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.card-title {

}